version: '3.7'

services:
  db:
    build:
      context: .
      dockerfile: ./Dockerfile
    volumes:
      - ./conf/:/conf
      - ./data:/docker-entrypoint-initdb.d
    tty: true
    environment:
      TZ: 'Asia/Tokyo'
      MYSQL_USER: 'user'
      MYSQL_PASSWORD: 'password'
      MYSQL_ROOT_PASSWORD: 'root'
